.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
}

.line {
    width: 100%;
    border: 2px solid #000000;
    margin-top: 4px;
    margin-bottom: 4px;
}

.line.thin {
    border-width: 1px;
}

.h1 {
    font-size: 80px;
    line-height: 95px;
}

.info-block .title {
    font-size: 32px;
    line-height: 45px;
    color: #000000;
}

.info-block .title.secondary {
    font-size: 24px;
    line-height: 29px;
    color: #A00404;
}

.info-block .description {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.info-block__desc {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 36px;
    font-size: 24px;
}

.bg-black {
    background-color: #000000;
}

.avatar {
    height: 320px;
    width: 320px;
}

.black-block {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #415165;
    padding: 24px 102px 52px 102px;
}


.black-block .line {
    border-color: #fff;
    border-width: 1px;
}

.black-block .title {
    font-size: 32px;
    line-height: 45px;
}

.black-block .title.secondary {
    font-size: 24px;
    line-height: 29px;
}

.black-block .black-block__menu {
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 24px;
    line-height: 36px;
}
