
.items-end {
  align-items: flex-end;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 900;
}

.text-blacklighter {
  color: #707070;
}

.text-black {
  color: #000000;
}

.text-white {
  color: white;
}