.submenu-wrap {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #DCDCDC;
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 40px;
  border-left: 1px solid #DCDCDC;
  border-right: 1px solid #DCDCDC;
  font-size: 36px;
  font-weight: 900;
  cursor: pointer;
  position: relative;
}

.submenu::before {

  position: absolute;
  content: '';
  bottom: 0;
  width: 0;
  height: 8px;
  background-color: #AA0601;
  transition: width 0.3s;
}


.submenu:hover::before {

  width: 100%;
}
