<!DOCTYPE html>
<html lang="en">
<head>
    <!--設計稿位置 : https://xd.adobe.com/view/d3d1119a-affd-4f48-8188-f070932224af-8682/screen/9030f53b-bb49-44c3-8d71-9901ad0d5206/specs/ -->
    <meta charset="UTF-8">

    <!-- 要加 viewport 才能讓 @media 有效 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts - 中文 noto / 英文 roboto  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="./style/style.css">
    <title>賣眼鏡歐 !</title>
</head>
<body>
<header class="header">
    <img src="./img/logo.png" alt="logo">
    <div class="flex-1"></div>
    <div class="header_menu">
        <div class="header_menu__item">
            <span>系列鏡框</span>
            <span>門市據點</span>
            <span>部落格</span>
            <span>常見問題</span>
        </div>
    </div>
</header>
<div class="banner">
    <div class="container items-end">
        <span class="banner__title">Promise-Desert 2020 早春系列</span>
        <span class="banner__content text-bold">看得清，才能看得遠</span>
    </div>
</div>
<div class="block-1">
    <div class="container">
        <span class="block-1__title text-bold">用專業的心，做專業的事</span>
        <div class="card-wrapper">
            <div class="block-1__card" v-for="feature in features" :key="feature.id">
                <img :src="feature.icon" alt="icon">
                <div class="feature_title">{{feature.title}}</div>
                <div class="text-left">{{feature.description}}</div>
            </div>
        </div>
    </div>
</div>
<div class="block-1">
    <div class="container gap-20">
        <span class="block-1__title text-bold">經典系列鏡框</span>

        <div class="classic-product" v-for="prod in classicProducts" :key="prod.id">
            <img :src="prod.img" alt="product">
            <div class="classic-product__text">
                <img :src="prod.icon" alt="icon">
                <span>{{prod.text}}</span>
            </div>
        </div>
    </div>
</div>
<div class="block-1 bg-woman">
    <div class="container gap-20">
        <span class="block-1__title text-bold text-white">聯名設計鏡框</span>

        <div class="famous-wrapper">
            <div class="famous-product" v-for="prod in famousProducts" :key="prod.id">
                <img :src="prod.img" alt="product" class="w-full">
                <span>{{prod.text}}</span>
            </div>
        </div>
    </div>
</div>
<footer class="footer">

</footer>


<script src="https://cdn.jsdelivr.net/npm/vue@3.0.5/dist/vue.global.prod.js"></script>
<script>
    const {createApp} = Vue;

    const App = {
        data() {

            return {

                features: [
                    {
                        id: 'feature-1',
                        icon: './img/icon-dollar.svg',
                        title: '單一價格',
                        description: '無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。',
                    },
                    {
                        id: 'feature-2',
                        icon: './img/icon-dollar.svg',
                        title: '20 分鐘即可取件',
                        description: '為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。',
                    },
                    {
                        id: 'feature-3',
                        icon: './img/icon-dollar.svg',
                        title: '安心售後服務',
                        description: '我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。',
                    },
                    {
                        id: 'feature-4',
                        icon: './img/icon-dollar.svg',
                        title: '關於鏡片',
                        description: '使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。',
                    },
                ],

                classicProducts: [
                    {
                        id: 'product-1',
                        img: './img/product-1.png',
                        icon: './img/icon-sun.svg',
                        text: 'optical',
                    },
                    {
                        id: 'product-2',
                        img: './img/product-2.png',
                        icon: './img/icon-sun.svg',
                        text: 'sunglasses',
                    },
                    {
                        id: 'product-3',
                        img: './img/product-3.png',
                        icon: './img/icon-sun.svg',
                        text: 'functional',
                    },
                ],

                famousProducts: [
                    {
                        id: 'product-8',
                        img: './img/product-8.png',
                        text: 'Double A+',
                    },
                    {
                        id: 'product-9',
                        img: './img/product-9.png',
                        text: 'YOUTH',
                    },
                ],
            }
        }
    };

    createApp(App).mount('body');
</script>
</body>
</html>
