/* The container */
label.check-wrap {
  display: inline;
  position: relative;
  cursor: pointer;
  user-select: none;
}
label.check-wrap input[type=checkbox] {
  display: none;
}
label.check-wrap div.check-box {
  border-radius: 4px;
  border: 1px solid #2c84ee;
}
label.check-wrap div.check-box::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label.check-wrap input[type=checkbox]:checked + div.check-box {
  border: 1px solid #f34f59;
  background-color: #f34f59;
}